html, body {
    height: 100%;
    font-family: 'Lato';
    padding-top: 20px;
}
.fa-btn {
    margin-right: 6px;
}

.fa-spinner{
   margin-right: 6px; 
}

.content {
    text-align: center;
    margin-top: 100px;
    width: 100%;
    display: inline-block;
    display: table;
    font-family: 'Lato';
}

.title {
    font-size: 96px;
    font-weight: 100;
    margin-top: 150px;
    color: #fff;
    letter-spacing: 10px;
}
.panel-default-login-page{
    padding-top: 30px;
}

.navbar {
    border-radius: 0;
}

.login-page{
    height: 100%;
    margin-top: 0px;
    width: 100%;
    background-image: url('/assets/images/cover.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.navbar-brand{
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 10px;
}
.panel{
    margin-top: 40px;
}

.table-users{
    margin-top: 20px;
}
.foto-perfil{
    max-width: 250px;
    max-height: 500px;
    margin-bottom: 15px;
}
.row{
    margin-top: 15px;
}

.edit-miembro{
    padding-top: 30px;
}

.alert{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}
#eliminar_miembro{
    margin-left: 40px;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    height: 100%;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f8f8f8;
    border-right: 1px solid #eee;
  }
}

.acceso-container{
    margin: 250px auto;
    max-width: 400px;
    text-align: center;
}
.acceso-container input{
    font-size: 40px;
    height: 68px;
    text-align: center;
    font-weight: 800;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}


.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */


 @media (min-width: 768px) {
  .main {
    padding-right: 360px;
    padding-left: 40px;
  }
}

.camcontent{
  overflow: hidden;
  height: 250px;
  width: 250px;
  margin: auto;
  }

  .perfil{
    font-size: 40px;
  }


.scan-container{
    margin: 250px auto;
    max-width: 600px;
    text-align: center;
}
.scan-container input{
    font-size: 40px;
    height: 68px;
    text-align: center;
    font-weight: 800;
}

.barcode{
  font-size: 120px;
}

.precio{
   font-size: 28px;
   font-weight: 800;
   text-align: left;
}

.pago{
  height: 45px;
  width: 30%;
  font-size: 28px;
}


.boderless th, .borderless td { 
     border-top: none !important; 
 }

@media print {
  body * {
    visibility: hidden;
  }
  #print * {
    visibility: visible;
    font-size: 1.1em;
  }

  .header{
    text-align: center;
  }

  .ticket-title{
    text-align: center;
  }

}

.productos{
  font-size: 18px;
}

.total{
  font-size: 22px;
  font-weight: bold;
  height: 60px;
}